body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(#04125c, white);

}

form {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
}

label {
    display: block;
    margin-bottom: 8px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

.boton {
    color: white;
    display: block;
    width: 200px;
    height: 20px;
    margin: 20px auto;
    background-color: #04125c;
    border: none;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
}

.botonAg {
    color: white;
    display: block;
    width: 200px;
    height: 40px;
    margin: 20px auto;
    background-color: #04125c;
    border: none;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
}