/*
Index*/


body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(#04125c, white);
}

.login-container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    max-width: 100%;
}

.login-form {
    display: flex;
    flex-direction: column;
}

h1 {
    text-align: center;
    color: #333;
}

label {
    margin-bottom: 8px;
    color: #555;
}

input {
    padding: 16px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.login-button {
    background-color: #04125c;
    color: #fff;
    font-size: 20px;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    box-shadow: #333 1px 1px;
}

.login-button:hover {
    left: 0;
    transition: left 5s cubic-bezier(0, 0, 1, 1);

}

/* Media queries para hacerlo responsive */
@media only screen and (max-width: 600px) {
    .login-container {
        width: 90%;
        max-width: 90%;
        margin: 2px;
    }

    .login-container {
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        padding: 20px;
        width: 310px;
        max-width: 120%;
        height: 70vh;
    }

    input {
        padding: 25px;
        margin-bottom: 16px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    label {
        margin-bottom: 8px;
        color: #555;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    .login-button {
        margin-top: 10%;
        background-color: #4caf50;
        color: #fff;
        padding: 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        text-align: center;
    }
}